<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.meretas.itinventory">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".utils.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".inv_cctv.cctv_edit.EditCctvActivity"></activity>
        <activity android:name=".inv_cctv.cctv_history.AddCctvHistoryActivity" />
        <activity android:name=".inv_cctv.cctv_detail.DetailCctvActivity" />
        <activity android:name=".inv_cctv.cctv_add.AddCctvActivity" />
        <activity android:name=".inv_cctv.cctv_list.CctvListActivity" />
        <activity
                android:name=".inv_stock.stock_edit.EditStockActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".inv_stock.stock_detail.stock_use_edit.EditStockUseActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".inv_stock.stock_detail.stock_use_detail.StockUseDetailActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".inv_stock.stock_detail.stock_use_add.AddConsumeStockActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".inv_stock.stock_detail.stock_use_add.AddAdditionStockActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".inv_stock.stock_detail.DetailStockActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".inv_stock.stock_add.AddStockActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".inv_stock.stock_list.StocklistActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".PrivacyPolicyActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".inv_computer.computer_edit.EditComputerActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".inv_computer.computer_add.AddComputerActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".inv_computer.computer_add_history.AddHistoryComputerActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".inv_computer.computer_detail.DetailComputerActivity"
                android:screenOrientation="portrait" />
        <activity
                android:name=".inv_computer.computer_list.ComputerListActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
                android:name=".dashboard.HistoryDetailActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
                android:name=".dashboard.DashboardActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
                android:name=".login.LoginActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".MainEmptyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>